<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Never log secrets: tokens, password hashes, PINs are redacted at the call site. -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
